<!-- help channels -->
<div class="nomad-inset">
    <div class="nomad-title">
        <div class="title-title" style="text-align: center;">How can we help you?</div>
        <div class="title-description" style="text-align: center;">
            There are different ways to reach out for help. Pick a channel to get help
            from us or our community.
        </div>
        <div class="title-content">

            <div class="nomad-gallery nomad-gallery--3 nomad-gallery--dense nomad-gallery--filled">

                <!-- Getting Started -->
                <div class="nomad-content">
                    <i class="material-icons nomad-icons--filled">description</i>
                    <div class="content-title">
                        Getting Started
                    </div>
                    <div class="content-description content-grow">
                        Our Getting Started Page provides a guide to our introductory
                        tutorials and other resources for beginners.
                    </div>
                    <div class="content-action">
                        <a href="tutorials.html">
                            <button class="nomad-button ">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">Open Getting Started</span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                            </button>
                        </a>
                    </div>
                </div>

                <!-- FAQs -->
                <div class="nomad-content">
                    <i class="material-icons nomad-icons--filled">description</i>
                    <div class="content-title">
                        FAQs
                    </div>
                    <div class="content-description content-grow">
                        Find answers to the most frequently asked questions under the categories:
                            <ul style="margin-left: 1.5em; list-style-type: disc;">
                                <li>General</li>
                                <li>Upload data, datasets, embargo, and DOIs</li>
                                <li>API</li>
                            </ul>
                    </div>
                    <div class="content-action">
                        <a href="faqs.html">
                            <button class="nomad-button ">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">Open the FAQs</span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                            </button>
                        </a>
                    </div>
                </div>

                <!-- Documentation -->
                <div class="nomad-content">
                    <i class="material-icons nomad-icons--filled">description</i>
                    <div class="content-title">
                        Documentation
                    </div>
                    <div class="content-description content-grow">
                        The NOMAD documentation is a rich resource that explains
                        many aspects of NOMAD in great detail and provides
                        valuable howtos on advanced topics.
                    </div>
                    <div class="content-action">
                        <a href="<%= urls.documentation %>">
                            <button class="nomad-button ">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">Open the docs</span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                            </button>
                        </a>
                    </div>
                </div>

            </div>

            <!-- banner-discord -->
            <div class="nomad-section">
                <div class="nomad-banner nomad-banner--discord" style="">
                    <div>
                        <div class="banner-title">
                            NOMAD Discord
                        </div>
                        <div class="banner-description">
                            Join our Discord community of over 500 researchers and developers.
                            Connect with fellow NOMAD users, share ideas, and get answers.
                        </div>
                        <div class="action action--filled">
                            <a href="https://discord.gg/Gyzx3ukUw8">
                                <button>
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">Open Discord</span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <img src="./assets/discord.png" alt="discord and nomad logo"/>
                </div>
            </div>

            <div class="nomad-gallery nomad-gallery--2 nomad-gallery--dense nomad-gallery--filled">

                <!-- Forum -->
                <div class="nomad-content">
                    <i class="material-icons nomad-icons--filled">forum</i>
                    <div class="content-title">
                        Forum
                    </div>
                    <div class="content-description content-grow">
                        NOMAD hosts a forum on <i>matsci.org</i> together with
                        many other materials science projects. NOMAD developers
                        and users will be able to help you here.
                    </div>
                    <div class="content-action">
                        <a href="<%= urls.forum %>">
                            <button class="nomad-button">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">Visit our forum</span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                            </button>
                        </a>
                    </div>
                </div>

                <!-- Open an Issue -->
                <div class="nomad-content">
                    <i class="material-icons nomad-icons--filled">bug_report</i>
                    <div class="content-title">
                        Open an Issue
                    </div>
                    <div class="content-description content-grow">
                        You can open an issue on NOMAD's main GitHub project.
                        This way, we can track your problem and start implementing
                        a solution.
                    </div>
                    <div class="content-action">
                        <a href="<%= urls.github %>/issues">
                            <button class="nomad-button">
                                <span class="mdc-button__ripple"></span>
                                <span class="mdc-button__label">GitHub issues</span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_forward</i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>



            <!-- Contact -->
            <div class="nomad-section nomad-inset">
                <div class="nomad-banner">
                    <div>
                        <div class="banner-title">
                            General Inquiries
                        </div>
                        <div class="banner-description">
                            If the other help channels are not appropriate for your
                            problem&mdash;for example, if you have a general inquiry or need non-technical
                            support&mdash;feel free to contact us via email. Please note that response times
                            are typically longer than for the other channels.
                        </div>
                        <div class="action action--filled">
                            <a href="<%= urls.support_email %>">
                                <button>
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">Email Support&nbsp;</span>
                                    <i class="material-icons mdc-button__icon" aria-hidden="true">mail</i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- banner-glaide -->
            <div class="nomad-section">
                <div class="nomad-banner nomad-banner--glaide" style="">
                    <div>
                        <div class="banner-title">
                            Professional Deployment and Customization Services
                        </div>
                        <div class="banner-description">
                            Looking for support with implementing NOMAD Oasis at the institutional or organizational level?
                            Our official partner, glAIde Data, can help your organization to efficiently establish
                            a tailored and robust data management platform.
                        </div>
                        <div class="action action--filled">
                            <a href="https://www.glaidedata.com/">
                                <button>
                                    <span class="mdc-button__ripple"></span>
                                    <span class="mdc-button__label">Open Glaide Homepage</span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <img src="./assets/glaide_data.png" alt="glaide data logo"/>
                </div>
            </div>

        </div>
    </div>
</div>